<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>form</title>
</head>
<body bgcolor="yellow">
<h1 style="color:red;padding:20px;">Registration form</h1>

<form action="register" method="post">
    {% csrf_token %}
    <label>Username</label>
    <input type="text" name="username"><br>
     <label>Firstname</label>
    <input type="text" name="firstname"><br>
     <label>Lastname</label>
    <input type="text" name="lastname"><br>
     <label>Email Id</label>
    <input type="email" name="email"><br>
     <label>Password</label>
    <input type="password" name="password"><br>
     <label>Confirm Password</label>
    <input type="password" name="password1"><br>
    <input type="submit">
</form>

{% for msg in messages %}
<h2>{{msg}}</h2>
{% endfor %}
</body>
</html>